html {
  scroll-behavior: smooth;
}

section {
  min-height: 600px;
}

.navbar-brand {
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.navbar-brand:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.nav-link {
  margin-right: 30px;
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.nav-link:hover {
  border-bottom: 3px solid #ffff02;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.btn {
  border-radius: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
}

.btn:hover {
  background-color: #ffff02;
  color: black;
}

.jumbotron {
  background-image: url(./assets/night.jpg);
  background-size: cover;
  height: 100vh;
  margin-top: -63px;
  text-align: center;
}

.jumbotron .display-4 {
  color: #ffff02;
  text-align: center;
  margin-top: 400px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 62px;
  margin-bottom: 30px;
}

.jumbotron .display-4 span {
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.products {
  background-image: linear-gradient(
    to top,
    #3951bb,
    #7778cc,
    #a7a3de,
    #d4d0ee,
    #ffffff
  );
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: #3951bb;
}

.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  margin-top: -100px;
  background-color: #fff;
}
